.todo-text {
    color: #0099FF;
}

.progres-text {
    color: #FFAE00;
}

.done-text {
    color: #55E800;
}

.dropdown-menu {
    background-color: white;
    border: solid 2px #D9D9D9;
    border-radius: 5px;
    padding: 7px;
}